#subscription-form-container
	form( method="post")#subscription-form.form-horizontal.well.span6
		h1 Subscriptions
		p#sub1.subheading Please insert your subscriptions.
		fieldset
			p#sub2.subheading
			ul(class='subs-list')#subs
				each it in subs
					li #{it.name}
						a(href=it.url) Link
						a(class='btn btn-danger')
							i(class=' icon-trash icon-white')
			
		hr
		#type-cg.control-group
			label.control-label(for='type-tf') Type
			.controls
				select#substype(name='subtype')
						each subs in substype
							option(value=subs.short)= subs.name
		#url-cg.control-group
			label.control-label(for='url-tf') URL
			.controls
				input#suburl.input-xlarge.disabled(type='text', name='suburl', value='')
		#name-cg.control-group
			label#lsubname.control-label(for='name-tf') Name
			.controls
				input#subname.input-xlarge.disabled(type='text', name='subname', value='')
		#desc-cg.control-group
			label#lsubdesc.control-label(for='desc-tf') Description
			.controls
				textarea#subdesc.input-xlarge.disabled(type='text', name='subdesc', value='')
		.form-actions
			button(type='submit')#subscription-form-btn1.btn

// display form errors in a custom modal window //

include modals/form-errors
